@model LoginVM
<div class="container">
    <div class="row mb-3">
        <div class="col-6 d-flex align-items-center">
            <div class="display-6 mb-0">Create Category</div>
        </div>
    </div>
    <div class="row"></div>
    <div class="col-12 m-3">
        <form method="post">
            <div class="text-bg-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label for="UserNameOrEmail" class="form-label">UserNameOrEmail</label>
                <input class="form-control" asp-for="UserNameOrEmail">
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="RememberMe">RememberMe</label>
                <select class="form-select" name="RememberMe">
                    <option value="false">OFF</option>
                    <option value="true">ON</option>
                </select>
            </div>
            <div class="mb-3">
                <a href="/Identity/Account/ResendEmailConfirmation">Resend Email Confirmation</a>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="mb-3">
                <a href="/Identity/Account/ForgetPassword">Forget Password ?</a>
            </div>

        </form>
    </div>
</div>
<div />
@section Scripts
{

    <partial name="_ValidationScriptsPartial">
}

